body .header{
    margin-bottom: 0;

    .navbar{
        margin-bottom: 0;
    }
}
.main-content{
    background: url("../images/background/sky1.jpg") no-repeat;
    background-size: cover;
    min-height: calc(100% - 52px)
}


.success-message{
    color: green;
    font-weight: bold;
}

.error-message{
    color: red;
    font-weight: bold;
}
