.head-title{
	font-family: ‘Lucida Console’, Monaco, monospace;
    font-size: 22px;
    color: #3A0303;
}
.sub-title{
	font-family: ‘Lucida Console’, Monaco, monospace;
    font-size: 15px;
    color: #655C5C;
}
.text-content{
	font-family: Century Gothic, sans-serif;
    padding-top: 15px;
}
