.card-header {
  position: relative;
  .md-image-title{
    position: absolute;
    left: 20px;
    bottom: 30px;
    color: rgb(63, 60, 60);
    text-shadow: 0 0 2px #fff;
    -webkit-text-stroke: 1px white;
  }
  .md-image-label{
    text-transform: uppercase;
    position: absolute;
    bottom: 5px;
    left: 20px;
    text-decoration: underline;
    color: #fff;
  }
}
.trip-info{
  i{
    vertical-align: middle;
  }
  span{
    vertical-align: middle;
  }
}
.route-info-divider{
  margin-top: 5px;
  margin-bottom: 5px;
}
.routes{

  .route-detail{
    margin-left: 135px;
    border-left: 2px solid blue;
    &:last-child{
      border-left: none;
    }
    .date-time{
      display: inline-block;
      color: rgb(63, 81, 181);
      font-size: 15px;
      width: 75px;
      margin-left: -135px;
      max-width: 120px;
      text-align: center;
      vertical-align: top;
      padding-top: 31px;
    }
    .route{
      display: inline-block;
      vertical-align: baseline;
      width: 100px;
      height: 100px;
      padding-left: 3px;
      margin-left: 5px;
      .route-img{
        width: 90px;
        height: 90px;
        background-size: cover;
        border-radius: 50px;
        border: 2px solid #3f51b5;
      }
    }
    .route-time{
      display: inline-block;
    }
    .route-name{
      color: rgb(63, 81, 181);
      font-size: 20px;
      margin-left: 10px;
    }
    .destination-info{
      display: inline-block;
      vertical-align: middle;
      min-height: 150px;
      position: relative;
      .more-info{
        border: 1px solid rgb(160, 158, 158);
        border-radius: 5px;
        padding: 10px;
        min-height: 120px;
        margin-left: 10px;
      }
    }
  }
  .connection{
    width: 1px;
    height: 75px;
    border-right: 2px solid rgb(63, 81, 181);
    margin-left: 114px;
  }
}

.md-autocomplete-suggestions li{
  height: 80px !important;
  .item-image{
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 60px;
    background-size: cover;
    border-radius: 30px;
    margin-right: 15px;
    margin-top: 10px;
  }
  .item-info{
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 10px;
    .item-info-name{
      height: 25px;
      font-weight: bold;
    }
    .item-info-address{
      height: 25px;
    }
  }
}


md-dialog.create-route-popup{
  width: 100%;
  max-width: 90%;
  md-content.select-destination-row{
    overflow: visible;
  }
}
