<div class="row">
	<div ui-view="bubble" class="bubble"></div>
	<div style="margin-top: 50px;">
		<div class="menu-home col-sm-2 col-md-2 col-lg-2">
			<u class="menu">
				<li class="menu-item">
					<a href="#" ui-sref="home.intro.why">Stop over is so excited and easy</a>
				</li>
				<li class="menu-item">
					<a href="#" ui-sref="home.intro.eligibility">Eligibility</a>
				</li>
				<li class="menu-item">
					<a href="#" ui-sref="home.intro.card">Card offers</a>
				</li>
			</u>
		</div>
		<div ui-view="info" class="info"></div>
	</div>
</div>