
<div class="row" style="margin: 0px;">
	<div style="margin-top: 50px;">
	<div class="menu-home col-sm-3 col-md-3 col-lg-3">
		<u>
			<li>Book your stop over in dubai</li>
			<li>Your information</li>
		</u>
	</div>
	<div class="news col-sm-9 col-md-9 col-lg-9" >
		<div class="img-new col-sm-6 col-md-6 col-lg-6">
			<img ng-src="images/bottom-img/bottom-img1.jpg">
		</div>
		<div class="text-new col-sm-4 col-md-4 col-lg-4">
			<div class="row head-title"> Experience dubai stop over </div>
			<div class="row sub-title"> Take advange of Emirates's range of special Dubai offers</div>
			<div class="row text-content">		
				Emirates flies to over 140 destinations around the world via Dubai. Whether you’re flying to Dubai or just passing through, take advantage of a Dubai Stopover, and enjoy an exciting stay in one of the world’s most dynamic cities.
			</div>
			<div class="row url">
				<a href="#">Learn more about DUabi stopover</a>

			</div>
		</div>

		<div class="news col-sm-10 col-md-10 col-lg-10" >
			<div class="text-new col-sm-6 col-md-6 col-lg-6">
				<div class="row head-title"> Experience dubai stop over </div>
				<div class="row sub-title"> Take advange of Emirates's range of special Dubai offers</div>
				<div class="row text-content">		
					Emirates flies to over 140 destinations around the world via Dubai. Whether you’re flying to Dubai or just passing through, take advantage of a Dubai Stopover, and enjoy an exciting stay in one of the world’s most dynamic cities.
				</div>
				<div class="row url">
					<a href="#">Learn more about DUabi stopover</a>

				</div>
			</div>
			<div class="img-new col-sm-4 col-md-4 col-lg-4 col-lg-offset-1 col-md-offset-1">
				<img ng-src="images/bottom-img/bottom-img1.jpg">
			</div>
		</div>
	</div>
	</div>
</div>