<md-content layout-padding class="autoScroll">
  <label ng-show="vm.message.length > 0" ng-class="{'success-message': vm.isLoggedIn, 'error-message': !vm.isLoggedIn}">{{vm.message}}</label>
  <md-input-container class="md-icon-float" >
    <!-- Use floating label instead of placeholder -->
    <label>First name</label>
    <md-icon md-font-library="material-icons">person</md-icon>
    <input ng-model="vm.name" type="text">
  </md-input-container>
  <md-input-container class="md-icon-float" >
    <!-- Use floating label instead of placeholder -->
    <label>PNR</label>
    <md-icon md-font-library="material-icons">vpn_key</md-icon>
    <input ng-model="vm.pnr" type="text">
  </md-input-container>
  <div class="md-actions" layout="row" layout-align="center center">
    <md-button class="md-raised md-primary" ng-click="vm.login()">Login</md-button>
  </div>
</md-content>
