
<div class="row" style="margin: 0px;">
	<div>
		<div class="news col-sm-9 col-md-9 col-lg-9" >
			<div ng-repeat="new in news" class="new col-sm-12 col-md-12 col-lg-12" >
				<div ng-if="($index+1) % 2 == 0">
					<div class="img-new col-sm-6 col-md-6 col-lg-6">
						<img ng-src="{{new.photo}}" style="width: 100%">
					</div>
					<div class="text-new col-sm-6 col-md-6 col-lg-6">
						<div class="row head-title"> {{new.title}} </div>
						<div class="row sub-title"> {{new.subTitle}}</div>
						<div class="row text-content">		
							{{new.description}}
						</div>
						<div class="row url">
							<a href="{{new.url}}"> {{new.urlLabel}}</a>
						</div>
					</div>
				</div>
				<div ng-if="($index+1) % 2 != 0">
					<div class="text-new col-sm-6 col-md-6 col-lg-6">
						<div class="row head-title"> {{new.title}} </div>
						<div class="row sub-title"> {{new.subTitle}}</div>
						<div class="row text-content">		
							{{new.description}}
						</div>
						<div class="row url">
							<a href="{{new.url}}"> {{new.urlLabel}}</a>
						</div>
					</div>
					<div class="img-new col-sm-6 col-md-6 col-lg-6">
						<img ng-src="{{new.photo}}" style="width: 100%">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>